---
import { Image } from "astro:assets";
import Button from "@/components/Button.astro";

import heroImg from "@/assets/prism.png";
---

<section
  class="grid-layout desktop:mx-24 desktop:my-24 tablet:mx-4 tablet:my-16 tablet:gap-y-8 tablet:gap-y-8 mx-3 my-12 flex items-center gap-y-12"
>
  <div
    class="desktop:col-span-5 tablet:gap-y-16 col-span-full grid grid-cols-subgrid gap-y-8"
  >
    <div class="tablet:gap-6 col-span-full flex flex-col gap-4">
      <h1 class="text-4xl tablet:text-5xl desktop:text-6xl font-semibold">
        Well crafted abstract images
      </h1>
      <p class="tablet:text-xl text-lg">
        High quality abstract images for your projects, wallpaper and
        presentations.
      </p>
    </div>

    <div class="col-span-full grid grid-cols-subgrid">
      <!-- TODO: Leaky abstraction and this plain sucks -->
      <Button
        variant="secondary"
        size="2xl"
        class="tablet:flex col-span-2 hidden"
      >
        Learn more
      </Button>
      <Button variant="secondary" size="xl" class="tablet:hidden col-span-2">
        Learn more
      </Button>
      <Button
        variant="primary"
        size="2xl"
        class="tablet:flex col-span-2 hidden"
      >
        See pricing
      </Button>
      <Button variant="primary" size="xl" class="tablet:hidden col-span-2">
        See pricing
      </Button>
    </div>
  </div>

  <Image
    src={heroImg}
    alt=""
    width={heroImg.width}
    height={heroImg.height}
    densities={[1, 1.5, 2]}
    loading="eager"
    class="desktop:col-span-7 col-span-full rounded-2xl"
  />
</section>
